---
const platform = "github";
const username = "withastro";
const platform2 = "warhammer";
---

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
  <p>Visit us in <a href={`https://www.${platform2}.com/`}>{platform2}</a>!</p>
</footer>